* {
  margin: 0;
  padding: 0;
}

#upper-nav {
  width: "100%";
  height: 5dvh;
  background-color: rgb(55, 62, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 350;
  font-size: 15px;
  line-height: 23px;
}

#upper-nav p {
  color: white;
}

#upper-nav span {
  color: rgb(253, 235, 180);
}

#below-nav {
  width: 100%;
  height: 9dvh;
  border: 1px solid rgb(230, 230, 230);
}

#info-nav {
  width: 100%;
  height: 7dvh;
  border: 1px solid rgb(230, 230, 230);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info-tabs {
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info-tabs p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.iconImg {
  width: 5%;
  margin-left: 2%;
}

#mountainImg {
  width: 100%;
  height: 39dvh;
  position: relative;
}

.imgText {
  /* width: 40%; */
  text-align: center;
  position: absolute;
  color: white;
  padding: 20px;
  top: 70%;
  left: 50%;
  background-color: rgba(34, 36, 36, 0.6);
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
}

.imgText p:nth-child(1) {
  font-family: "IBM Plex", serif;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
}

.imgText p:nth-child(2) {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#mountainImg img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
}

#sections {
  /* border: 1px solid rgb(230, 230, 230); */
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

#sections > p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 350;
  font-size: 13px;
  line-height: 20px;
  color: #5b6a6a;
}

#mainContainer {
  width: 80%;
  margin: auto;
  display: flex;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
}

#mainContainer p {
  color: #5b6a6a;
  padding-right: 70px;
}

.leftInner {
  width: 60%;
}

.heading {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 24px;
  color: #1c1e1e;
}

.rightInner {
  width: 40%;
  display: grid;
  grid-template-rows: 100px 600px 100px 100px 100px;
  gap: 10px;
  padding: 10px;
}

.rightInnerDivs {
  border: 1px solid rgb(230, 230, 230);
}

.textDescription span {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  #upper-nav {
    display: none;
  }

  #mainContainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 350;
    font-size: 16px;
    line-height: 24px;
  }

  .leftInner {
    width: 100%;
  }

  #mainContainer p {
    color: #5b6a6a;
    padding-right: 0px;
  }

  .rightInner {
    width: 80%;
    display: grid;
    grid-template-rows: 100px 600px 100px 100px 100px;
    gap: 10px;
    padding: 10px;
    margin: auto;
  }
}
